
*{
box-sizing:border-box;
}


body{

margin:0;

height:100vh;

background:#121212;

color:white;

font-family:Arial,sans-serif;

}



.app{

height:100vh;

display:flex;

flex-direction:column;

}



header{

height:60px;

display:flex;

align-items:center;

justify-content:space-between;

padding:15px 20px;

border-bottom:1px solid #333;

}



.logo{

font-size:22px;

font-weight:bold;

}



.logo span{

display:block;

font-size:10px;

color:#888;

font-weight:normal;

}



.menu svg{

width:35px;

}



.screen{

display:none;

flex:1;

padding:20px;

opacity:0;

transform:translateX(20px);

transition:.25s;

}



.screen.active{

display:flex;

flex-direction:column;

opacity:1;

transform:none;

}





button{

background:#1c1c1c;

border:1px solid #333;

border-radius:12px;

color:white;

padding:15px;

font-size:15px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:8px;

}



button svg{

width:26px;

height:26px;

stroke-width:1.5;

flex-shrink:0;

}


button span{

line-height:1;

font-size:13px;

}

button{

min-height:75px;

justify-content:center;

gap:8px;

}


button:hover{

border-color:#555;

}



.upload{

margin:auto;

padding:45px;

font-size:22px;

}



.canvas{

flex:1;

min-height:200px;

background:#000;

border:1px solid #333;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

color:#666;

font-size:24px;

}



.bottom{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

margin-top:15px;

}




.timeline{

margin:15px 0;

padding:20px;

background:#1b1b1b;

border-radius:10px;

color:#777;

}



.tools{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

margin-top:15px;

}



.caption{

font-size:35px;

}



label{

padding:15px;

border-bottom:1px solid #333;

}



.export{

background:white;

color:black;

}



@media(max-width:600px){

.canvas{

aspect-ratio:9/16;

}

}

.upload-icon{

width:64px;

height:64px;

stroke-width:1.3;

margin-bottom:15px;

}


.upload span{

font-size:22px;

}