*{
box-sizing:border-box;
}


body{

margin:0;

background:#111;

color:white;

font-family:Arial,sans-serif;

height:100vh;

}



.app{

height:100vh;

display:flex;

flex-direction:column;

}



header{

height:60px;

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 20px;

border-bottom:1px solid #333;

}

button svg{

width:28px;

height:28px;

stroke-width:1.5;

margin-bottom:8px;

}


.logo svg{

width:20px;

}



.logo{

font-size:22px;

font-weight:bold;

}



.logo span{

display:block;

font-size:10px;

font-weight:normal;

color:#888;

}



.menu{

font-size:25px;

}



.screen{

    display:none;

    flex:1;

    padding:20px;

    opacity:0;

    transform:translateX(20px);

    transition:
    opacity .25s ease,
    transform .25s ease;

}


.screen.active{

    display:flex;

    flex-direction:column;

    opacity:1;

    transform:translateX(0);

}




.upload{

margin:auto;

background:none;

border:1px solid #555;

color:white;

padding:40px;

border-radius:20px;

font-size:22px;

}




.canvas{

flex:1;

background:#000;

border:1px solid #333;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

font-size:24px;

color:#666;

}



.bottom{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

margin-top:15px;

}



button{

background:#1b1b1b;

color:white;

border:1px solid #333;

border-radius:12px;

padding:15px;

font-size:16px;

}



.timeline{

margin:20px 0;

background:#222;

padding:20px;

border-radius:10px;

}



.tools{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:10px;

}



.caption{

color:white;

font-size:35px;

}





.export{

margin-top:30px;

background:white;

color:black;

}

label{

padding:15px;

border-bottom:1px solid #333;

}